@using BootstrapSupport
@model AuthenticationService.Models.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

<h2>Change Password</h2>
<p>
    Use the form below to change your password. 
</p>
<p>
    New passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
</p>

@using (Html.BeginForm("ChangePassword","Account")) {
    @Html.ValidationSummary(true,null,new {@class="alert alert-error"})

    <fieldset class="form-horizontal">
        <legend>Account Information</legend>
        
        
        @Html.BeginControlGroupFor(model => model.Username)
            @Html.LabelFor(model => model.Username, new {@class="control-label"})
		<div class="controls">
            @Html.TextBoxFor(model => model.Username, new{@class="input-large", @readonly="readonly"})
		</div>
		@Html.EndControlGroup()

        @Html.BeginControlGroupFor(model => model.OldPassword)
            @Html.LabelFor(model => model.OldPassword, new {@class="control-label"})
		<div class="controls">
            @Html.EditorFor(model => model.OldPassword, new{@class="input-large"})
            @Html.ValidationMessageFor(model => model.OldPassword, null, new {@class="help-inline"})

		</div>
		@Html.EndControlGroup()

        @Html.BeginControlGroupFor(model => model.NewPassword)
            @Html.LabelFor(model => model.NewPassword, new {@class="control-label"})
		<div class="controls">
            @Html.EditorFor(model => model.NewPassword, new{@class="input-large"})
            @Html.ValidationMessageFor(model => model.NewPassword, null, new {@class="help-inline"})

		</div>
		@Html.EndControlGroup()

        @Html.BeginControlGroupFor(model => model.ConfirmPassword)
            @Html.LabelFor(model => model.ConfirmPassword, new {@class="control-label"})
		<div class="controls">
            @Html.EditorFor(model => model.ConfirmPassword, new{@class="input-large"})
            @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new {@class="help-inline"})

		</div>
		@Html.EndControlGroup()

        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Create" />
        </div>
    </fieldset>
}



<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
