
@using BootstrapSupport
@model AuthenticationService.Models.ResetPasswordModel

@{
    ViewBag.Title = "ResetPassword_1";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true,null,new {@class="alert alert-error"})

    <fieldset class="form-horizontal">
        <legend>Reset Password Step 1</legend>

        @Html.BeginControlGroupFor(model => model.Username)
            @Html.LabelFor(model => model.Username, new {@class="control-label"})
		<div class="controls">
            @Html.EditorFor(model => model.Username, new{@class="input-large"})
            @Html.ValidationMessageFor(model => model.Username, null, new {@class="help-inline"})

		</div>
		@Html.EndControlGroup()


        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </fieldset>
}



